@model OficinaWeb.Models.UserViewModel

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css">

<section>
    <h1>Autenticação</h1>

    <form>
        <input type="text" id="Email" name="Email" value="" placeholder="Username/E-mail" />
        <input type="text" id="Senha" name="Senha" value="" placeholder="Senha" />
        <a href="#">Esqueceu a senha?</a>

        <button type="submit" onclick="login(event);">Login</button>
    </form>

    <label>Não tem conta? <a href="#">Crie Aqui</a></label>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>
