@model OficinaWeb.Models.CarroViewModel

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Deletar Automóvel</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-8">
                        <label asp-for="ModeloCarro"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="ModeloCarro" disabled class="form-control" />
                    </div>

                    <div class="col-8">
                        <label asp-for="Marca"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Marca" disabled class="form-control" />
                    </div>

                    <div class="col-8">
                        <label asp-for="Placa"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Placa" disabled class="form-control" />
                    </div>

                    <div class="col-8">
                        <label asp-for="DataCadastro"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="DataCadastro" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Deletar" />
                        </div>
                        <div class="col">
                            <a asp-controller="Carros" asp-action="List" class="btn btn-danger w-75">Voltar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>